@model Product
@{
    ViewData["Title"] = $"{Model.Author} - {Model.Title}";
}

<div class="card shadow border-0 mt-4">
    <div class="card-body">
        <div class="py-3">
            <div class="row">
                <div class="col-6 col-md-2 offset-lg-1 pb-1">
                    <a asp-action="Index" class="btn btn-outline-primary bg-gradient fw-semibold btn-sm text-uppercase">
                        <small>Back to home</small>
                    </a>
                </div>
            </div>
            <div class="row mt-2">
                <div class="offset-lg-1">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a asp-controller="Home" asp-action="Index">Products</a>
                            </li>
                            @if(Model.Category != null)
                            {
                                <li class="breadcrumb-item">
                                    <a asp-controller="Home" asp-action="Category" asp-route-id="@Model.CategoryId">
                                        @Model.Category.Name
                                    </a>
                                </li>
                            }
                            <li class="breadcrumb-item active" aria-current="page">@Model.Title</li>
                        </ol>
                    </nav>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-lg-3 offset-lg-1 text-center mb-3">
                    @if (Model.ImageUrl != null)
                    {
                        <img src="@Model.ImageUrl" width="100%" class="rounded" />
                    }
                    else
                    {
                        <img src="https://placehold.co/500x600" width="100%" class="rounded" />
                    }
                </div>
                <div class="col-12 col-lg-6 offset-lg-1">
                    <div class="col-12 col-md-6 mb-1">

                        @if (Model.IsNew)
                            {
                                <span class="badge text-bg-primary">New</span>
                            }
                        @if (Model.IsBestseller)
                            {
                                <span class="badge text-bg-danger mt-2">Bestseller</span>
                            }
                        @if (Model.IsSpecialOffer)
                            {
                                <span class="badge text-bg-success mt-2 ">Special offer</span>
                            }

                        @if (Model.Category != null)
                        {
                            <span class="badge text-bg-primary">
                                @Model.Category.Name
                            </span>
                        }
                    </div>

                    <div class="mb-3">
                        <h3 class="text-uppercase fw-bold">@Model.Title</h3>
                        <p class="fw-semibold mb-0">Author: @Model.Author</p>
                    </div>

                    <div class="row">
                        <h6 class="text-dark text-opacity-50 ">ISBN : @Model.ISBN</h6>
                    </div>
                    <div class="row">
                            
                    </div>
                    <div class="row pl-2 mt-3">
                        <p class="text-secondary lh-sm">@Html.Raw(@Model.Description)</p>
                    </div>

                    <div class="row pl-2">
                        <p class="fs-5 fw-bold">
                            Price:
                            <span>
                                @Model.Price.ToString("c")
                            </span>
                        </p>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-3">
                            <div class="input-group mb-3">
                                <span class="input-group-text bg-primary text-white border-0 fw-semibold"
                                        id="inputGroup-sizing-default">
                                    Count
                                </span>
                                <input min="0" max="1000" type="number" value="1" class="form-control" id="quantity-@Model.Id"
                                        aria-label="Quantity input" aria-describedby="inputGroup-sizing-default" />
                            </div>
                        </div>
                        <div class="col-md-6 pb-1">
                            <button class="btn btn-primary w-100 text-uppercase fw-semibold shopping-cart-btn" data-id="@Model.Id">
                                Add to Cart
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


