@model IEnumerable<Product>

<div class="row pb-3">
    @foreach(var product in Model)
    {
        <div class="col-lg-3 col-sm-6">
            <div class="row p-2">
                <div class="col-12 p-1">
                    <div class="card border-0 p-3 shadow border-top border-5 rounded">
                        <img src="@product.ImageUrl" class="card-img-top"/>
                        <div class="card-body pb-0">
                            <div class="pl-1">
                                <p class="card-title mb-0 text-dark opacity-75 text-uppercase text-center fs-5">@product.Title</p>
                                <p class="card-title mb-0 text-secondary text-center fs-6">@product.Author</p>
                            </div>
                            <div class="pl-1">
                                <p class="text-dark text-opacity-75 text-center mb-0">List price: <strong>@product.ListPrice.ToString("c")</strong></p>
                            </div>
                            <div class="pl-1">
                                <p class="text-dark text-opacity-75 text-center fs-6">As low as: <strong>@product.Price100.ToString("c")</strong></p>
                            </div>
                        </div>
                        <div>
                            <a asp-controller="Home" asp-action="Details" asp-route-id="@product.Id" class="btn btn-primary bg-gradient border-0 form-control">Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>