@model SummaryVM
@{
    ViewData["Title"] = "Summary";
}

<h1 class="mt-3">Order summary</h1>
<hr />

<div class="form-floating mb-3">
    <input asp-for="@Model.User.StreetAddress" class="form-control" aria-required="false" />
    <label asp-for="@Model.User.StreetAddress"></label>
    <span asp-validation-for="@Model.User.StreetAddress" class="text-danger"></span>
</div>

<div class="form-floating mb-3">
    <input asp-for="@Model.User.City" class="form-control" aria-required="false" />
    <label asp-for="@Model.User.City"></label>
    <span asp-validation-for="@Model.User.City" class="text-danger"></span>
</div>

<div class="form-floating mb-3">
    <input asp-for="@Model.User.State" class="form-control" aria-required="false" />
    <label asp-for="@Model.User.State"></label>
    <span asp-validation-for="@Model.User.State" class="text-danger"></span>
</div>

<div class="form-floating mb-3">
    <input asp-for="@Model.User.PostalCode" class="form-control" aria-required="false" />
    <label asp-for="@Model.User.PostalCode"></label>
    <span asp-validation-for="@Model.User.PostalCode" class="text-danger"></span>
</div>

<div class="form-floating mb-3">
    <input asp-for="@Model.User.PhoneNumber" class="form-control" aria-required="false" />
    <label asp-for="@Model.User.PhoneNumber"></label>
    <span asp-validation-for="@Model.User.PhoneNumber" class="text-danger"></span>
</div>